<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link rel="stylesheet" href="loader.css">
<title>テニスキャンセル待ち</title>
<script>
const GAS_URL = "https://script.google.com/macros/s/AKfycbwS7J3e5zFwFYttrhglkjQGH7-Aj15ogcDsDFgV54To7QSGCCEA/exec";
function myLoad() {
/*
	10分で更新されるようなのでいったん削除

	// キャッシュにより更新されない対策
	// クエリパラメータvの後につけたタイムスタンプを見て、現在日時より3分以上古ければ
	// 現在日時のタイムスタンプをつけてリロード
	const query = location.search;
	const v = /\?v=([0-9]+)\&?/.exec(query);
	if ((v != null) && ((Date.now() - 3000 * 60) < v[1])) {
		// ok
	} else {
		const newUrl = location.href.substring(0, location.href.length - query.length) + "?v=" + Date.now();
		location.replace(newUrl);
		return;
	}
*/
	var recTable = new Vue({
		el: '#app'
		, data: {
			records:null
			, dateOpts:[]
			, times:['h09', 'h11', 'h13', 'h15', 'h17', 'h19']
			, isLoading:true
			, updateIndex:null
			, updateId:null
			, updateTitle:null
			, updateTimes:null
		}
		, methods: {
			// ["h09", "h11"] → "09時, 19時"
			formatCheckTimes(hours) {
				const emoji = {
					'h09':'🕘'
					, 'h11':'🕚'
					, 'h13':'🕐'
					, 'h15':'🕒'
					, 'h17':'🕔'
					, 'h19':'🕖'
				};
				return hours.map(hour => emoji[hour] + hour.substring(1) + "時").join("<br>");
			}
			, processError(error) {
				this.isLoading = false;
				alert("エラーが発生しました。" + error.message);
			}
			, load() {
				fetch(GAS_URL + '?rest=1')
				.then(response => {
					if (response.ok) {
						return response.json();
					}
					throw new Error("情報の取得に失敗しました。");
				})
				.then(json => this.records = json.records)
				.catch(error => this.processError(error))
				.finally(() => this.isLoading = false);
			}
			, deleteEntry(index) {
				const rec = this.records[index];
				if (!confirm(rec.title + " を削除してよろしいですか?")) {
					return;
				}
				const id = rec.id;
				const formData = new FormData();
				formData.append('p_command', 'delete');
				formData.append('p_rest', '1');
				formData.append('p_entry', id);
				this.isLoading = true;
				fetch(GAS_URL, {
					method: "post"
					, headers: {'accept': 'application/json'}
					, body: formData
				}).then(response => {
					if (response.ok) {
						this.records.splice(index, 1);
						this.isLoading = false;
						return;
					}
					throw new Error("削除時にエラーが発生しました。" + response);
				}).catch(error => this.processError(error))
			}
			, postNew() {
				if (!this.isCheckTimes(form_new_entry.p_time)) return false;
				$('#newEntry').modal('hide');
				this.isLoading = true;
				fetch(GAS_URL, {
					method: "post"
					, headers: {'accept': 'application/json'}
					, body: new FormData(form_new_entry)
				}).then(response => {
					if (response.ok) {
						this.load();
						return;
					}
					throw new Error("登録時にエラーが発生しました。" + response);
				}).catch(error => {
					this.processError(error);
				})
			}
			, updateEntry(index) {
				const rec = this.records[index];
				this.updateIndex = index;
				this.updateId = rec.id;
				this.updateTitle = rec.title;
				this.updateTimes = rec.times;
				$('#dlgUpdateEntry').modal();
			}
			, postUpdate() {
				if (!this.isCheckTimes(form_update_entry.p_update_time)) return false;
				$('#dlgUpdateEntry').modal('hide');
				this.isLoading = true;
				this.updateTimes.sort();	// 定義順にならない(クリック順みたい)
				fetch(GAS_URL, {
					method: "post"
					, headers: {'accept': 'application/json'}
					, body: new FormData(form_update_entry)
				}).then(response => {
					if (response.ok) {
						this.records[this.updateIndex].times = this.updateTimes;
						this.isLoading = false;
						return;
					}
					throw new Error("時間行進時にエラーが発生しました。" + response);
				}).catch(error => this.processError(error))
			}
			, isCheckTimes(timesCtrls) {
				for (let i = 0, len = timesCtrls.length; i < len; i++) {
					if (timesCtrls[i].checked) {
						return true;
					}
				}
				alert("時間帯を選択してください。");
				return false;
			}
		}
		, created() {
			const week = ["日", "月", "火", "水", "木", "金", "土"];
			const dt = new Date();
			for (let i = 0; i < 31; i++) {
				const month = dt.getMonth() + 1;
				const date = dt.getDate();
				const weekStr = week[dt.getDay()];
				const className = (weekStr == "土")? "sat": ((weekStr == "日")? "san": "");
				const text = month + "/" + date + "(" + weekStr + ")";
				const val = dt.getFullYear() + "-" + ("0" + month).slice(-2) + "-" + ("0" + date).slice(-2) + "," + text;
				this.dateOpts.push({value:val, text:text, className:className});
				dt.setDate(dt.getDate() + 1);
			}
			this.load();
		}
	});
}
</script>
<style>
select[name="p_date"] option.sat {
	background-color:#ddf;
}
select[name="p_date"] option.san {
	background-color:#fdd;
}
tbody#d_rec_table tr:nth-child(-n+3) {
	background-color:#bff;
}
table#main_table {
  border-collapse:collapse;
  border-spacing:0;
  margin-bottom:2px;
}
table#main_table th {
  background-color:#ccc;
  border:1px solid #000;
  font-weight:normal;
  text-align:center;
}
table#main_table td {
  padding:3px;
  border:1px solid #000;
}
</style>
</head>
<body onload="myLoad();">
<div id="app">
<div v-if="isLoading" class="loader"></div>
<div v-else="isLoading">
	<!-- メイン画面 -->
	<div style="padding:2px;">
		<table id="main_table">
			<thead>
				<tr>
					<th>日付と場所</th>
					<th>時間帯</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody id="d_rec_table">
				<tr v-for="(rec, index) in records">
					<td>{{rec.title}}</td>
					<td v-html="formatCheckTimes(rec.times)"></td>
					<td>
						<button type="button" class="btn btn-secondary" v-on:click="updateEntry(index)">変更</button>
						<button type="button" class="btn btn-secondary" v-on:click="deleteEntry(index)">削除</button>
					</td>
				</tr>
			</tbody>
		</table>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newEntry">新規登録</button>
	</div>

	<!-- 新規登録ダイアログ -->
	<div class="modal fade" id="newEntry" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">新規登録</h5>
				</div>
				<div class="modal-body">
					<form name="form_new_entry">
						<div class="row">
							<label class="col-form-label col-3">日付</label>
							<div class="col">
								<select name="p_date">
									<option v-for="date in dateOpts" v-bind:value="date.value" v-bind:class="date.className">{{date.text}}</option>
								</select>
							</div>
						</div>
						<div class="row">
							<label class="col-form-label col-3">時間帯</label>
							<div class="col">
								<div class="form-check" v-for="time in times">
									<input class="form-check-input" type="checkbox" name="p_time" v-bind:value="time" v-bind:id="'chk' + time">
									<label class="form-check-label" v-bind:for="'chk' + time">{{formatCheckTimes([time])}}</label>
								</div>
							</div>
						</div>
						<div class="row border-top" style="margin-top:6px;padding-top:6px">
							<label class="col-form-label col-3">施設</label>
							<div class="col">
								<label><input type="radio" name="p_place" value="ao" checked>青木町</label><br>
								<label><input type="radio" name="p_place" value="ns">西スポ</label><br>
								<label><input type="radio" name="p_place" value="nk">西公民館</label><br>
							</div>
						</div>
						<input type="hidden" name="p_command" value="entry">
						<input type="hidden" name="p_rest" value="1">
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" v-on:click="postNew">　登　録　</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 変更ダイアログ -->
	<div class="modal fade" id="dlgUpdateEntry" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">{{updateTitle}}</h5>
				</div>
				<div class="modal-body">
					<form name="form_update_entry">
						<div class="row">
							<label class="col-form-label col-3">時間帯</label>
							<div class="col">
								<div class="form-check" v-for="time in times">
									<input class="form-check-input" type="checkbox" name="p_update_time" v-bind:value="time" v-bind:id="'chk' + time" v-model="updateTimes">
									<label class="form-check-label" v-bind:for="'chk' + time">{{formatCheckTimes([time])}}</label>
								</div>
							</div>
						</div>
						<input type="hidden" name="p_command" value="update">
						<input type="hidden" name="p_update_id" v-bind:value="updateId">
						<input type="hidden" name="p_update_title" v-bind:value="updateTitle">
						<input type="hidden" name="p_rest" value="1">
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" v-on:click="postUpdate">　変　更　</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
				</div>
			</div>
		</div>
	</div>

</div>
</div>

<!-- Bootstrap.jp -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
